<div class="viewCat">

    <a href="javascript:history.back()">Return to View Recipes</a>

</div>
<div>
    <p>View {{#each results}}{{#if @first}}{{this.recipename}}{{/if}}{{/each}} Ingredients</p>
    <ul>
        {{#each results}}
            <li>{{this.ingredientname}}</li>
        {{/each}}
    </ul>
</div>

<div>
    {{#if results.1.ownerid}}
        <a href="/build?recipeid={{results.0.recipeid}}">Edit this private recipe</a>
    {{else}}
        <a href="/build?recipeid={{results.0.recipeid}}">Customize this public recipe</a>
    {{/if}}
</div>